body {
    font-family: 'roboto', 'Raleway', sans-serif;
    position: relative;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.section{
    padding: 94px 0;
    box-sizing: border-box;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.menu-list{
    flex-direction: row;
    padding: 0%;
    margin: 0%;
    display: flex;
    gap: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.adresses-head{
    display: flex;
    gap: 50px;
}

.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.buttons-links-top{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.buttons-links-top:hover,
.buttons-links-top:focus{
    color: #2196F3;
    cursor: pointer;
}

.head-studia{
    width: 49px;
height: 16px;
left: 453px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}

.we-do-block{
    padding-top: 0px;
}

.we-do-images {
    columns: 3;
    display: flex;
    gap: 30px;
    flex-direction: row;
    margin-top: 50px;
    padding: 0%;
}

.low-team{
    padding-top: 0px;
    background: #F5F4FA;
}

.people-table{
    columns: 4;
    display: block;
    margin-top: 50px;
    gap: 30px;
}

.people-lishky{
    background-color: #fff;
    max-width: 270px;
}

.people-lishky > img {
    width: 100%;
}

.head-portfolio{
    width: 76px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.head-contacts{
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.head-mail{
    color: #757575;
}

.head-number{
    color: #757575;
}

.head-buttons {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000;
}

.logo-studio:hover{
    color: #2196F3;
}

.hero{
width: 100%;
background: #2F303A;
}

.hero > .container {
    padding: 200px 252px;
}

.buttons-links-portfolio{
    width: 128px;
height: 38px;
left: 576px;
top: 174px;
background: #F5F4FA;
border-radius: 4px;
}

.buttons-links-portfolio:hover{
background-color: #2196F3;
color: #fff;
}

.affective-business{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.order-service{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    padding: 10px 32px;
}

.order-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
}

.order-button:hover{
    cursor: pointer;    
}

.desc-team-table{
    display: flex;
    columns: 4;
    text-align: left;
    gap: 30px;
}

.people-list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.mini-zagolovok{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121; 
}

.top-desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 10px 0 0;
}

.what-we-do{
    font-family: 'Roboto';
    text-align: center;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
color: #212121;
}

.our-team{
    font-family: 'Roboto';
font-style: normal;
text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
color: #212121;
}

.people-desc{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.adress{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.adress:hover,
.adress:focus {
    color: #2196F3;
    cursor: pointer;
}

.logo-studio-footer{
    color: #fff;  
}

.logo-studio-footer:hover{
    color: #2196F3;
}

.contacts {
    color: grey;
}

/* PORTFOLIO PAGE */

.footer {
    background-color: #2F303A;
}

.footer > .container {
    display: block;
    text-align: left;
    padding: 60px 0;
}

.footer-block{
    margin-top: 20px;
    gap: 9px;
    padding-left: 0%;
}

.footer-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}

.footer-mail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-phone{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-phone:hover{
    color: #2196F3;
    cursor: pointer;    
}